
i{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: relative;
}

i span{
    position: absolute;
    font-size: 13px;
    background: #fff;
    color: red;
    padding: 4px 8px;
    border-radius: 100%;
    top: -20px;
    right: -9px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.box{
    border: 1px solid rgb(222, 136, 136);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}

img{
    width: 100%;
}

body{
    transition: .6s;
}